/** @format */

h1 {
	padding: 15vh 0 7vh 0;
}

.info_cluster {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	width: auto;
	max-width: 40vh;
	margin: auto;
}

.input_pair {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	max-width: 40vh;
	min-width: 30vh;

	border: none;
	background: #0d1647;
	border-radius: 3em;

	padding: 1em;
}

.spread_plan {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
	max-width: 40vh;
	min-width: 30vh;
	margin: 0.5vh 0 0 0;
}
.spread_plan > p {
	margin: 0;
	text-align: right;
	max-width: 30vh;
}

input,
select,
select option {
	background-color: aliceblue;
	height: 2em;
	width: 3em;
	font-family: alegreya;
	font-size: medium;
	text-align: center;
	color: #0d1647;
	border: none;
	border-radius: 1em;
}

label {
	text-transform: lowercase;
	text-align: center;
	font-size: 2vh;

	margin: 0.5em 0.8em;
}

.space_under {
	margin-bottom: 15vh;
}

ul {
	border: none;
	background: #0d1647;
	border-radius: 3em;

	margin: 0 0;
	padding: 1em 2em 1em 2.5em;
}

input[type="submit"] {
	height: auto;
	width: auto;
	padding: 2em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea {
	background-color: aliceblue;
	width: 14em;
	height: 6em;
	font-family: alegreya;
	font-size: medium;
	text-align: start;
	color: #0d1647;
	border: none;
	border-radius: 1em;
}

select {
	width: 6em;
	text-align-last: center;
}

select option {
	text-align: left;
}

.reps {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	border: none;
}

.reps > p {
	margin: 0;
	margin-left: 0.25em;
}
